
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Total Reference Count: @ViewBag.v1</h3>

<h3>Number of references with Istanbul city information: @ViewBag.v2</h3>

<h3>Number of reference excluding Android Developer: @ViewBag.v3</h3>

<h3>The name of the reference from Mersin: @ViewBag.v4</h3>

<h3>The average salary of references: @ViewBag.v5</h3>

